header {
    width: 100%;
    padding: 28px 8%;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_bolo {
    font-size: 22px;
    color: #A74499;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.nav-item.active a {
    text-decoration: none;
    color: #1d1d1d;
    border-bottom: 3px solid #faaabf;
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
    display: none;
    }
        #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        padding: 20px;            
        border-radius: 10px;
        z-index: 1000;
        }
    
        #mobile_nav_list {
            display: flex;
            flex-direction: column;
            gap: 12px;
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: center;
        }
    
        #mobile_menu .btn-default {
            display: block;
            margin-top: 20px;
        }
        #mobile_btn {
            display: block;
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 1.8rem;
            background: none;
            border: none;
            cursor: pointer;
            color: #1d1d1d;
        }
    }