@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /* importando a font usada */

@import url('header.css');
@import url('home.css');
@import url('menu.css');
@import url('testimonials.css');
@import url('footer.css');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fdf0fb; /* cor do fundo */
}

section {
    padding: 28px 8%;
}

.btn-default { 
    border: none; /* remove a borda padrão */
    display: flex; /* define o tipo do "container" */
    align-items: center; /* alinha o texto no centro */
    justify-content: center; /* controla o alinhamento dos itens dentro do "container" */
    background-color: #ffd9e3;  /* cor do fundo do botão/container */
    border-radius: 12px; /* remove bordas arredondadas */ 
    padding: 10px; /* espaçamento interno */
    font-weight: 600; /* grossura da font */
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1); /* sombra da box */
    cursor: pointer; /* muda o cursor para pointer ao passar o mouse */
    transition: background-color 0.3s ease; /* adiciona transição suave na cor de fundo */
}

/* adiciona o efeito ao passar o mouse */
.btn-default:hover {
    background-color: #faaabf;
}

.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: #fff;
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: #1d1d1d;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.01);
    transition: box-shadow .3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.01);
}


